<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/student/login">
    ID: <input type="text" name="id"/><br/>
    PWD: <input type="password" name="password"/><br/><br/>
    <button type="submit"><span th:text="#{loginButton}"></span></button>
</form>
<button onclick="location.href='/student/register'"><span th:text="#{registerButton}"></span></button>
<br />
<a href="?locale=ko">ko</a><br />
<a href="?locale=en">en</a><br />
</body>
</html>