<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>폼 입력 예제</title>
</head>
<body>
<form th:action="@{/student/{id}/update(id=${student.id})}" method="post">
    <label for="id"><span th:text="#{id}"></span>:</label>
    <input type="text" id="id" name="id" th:value="${student.id}" readonly><br>

    <label for="password"><span th:text="#{password}"></span>:</label>
    <input type="password" id="password" name="password" th:value="${student.password}"><br>

    <label for="name"><span th:text="#{name}"></span>:</label>
    <input type="text" id="name" name="name" th:value="${student.name}"><br>

    <label for="email"><span th:text="#{email}"></span>:</label>
    <input type="email" id="email" name="email" th:value="${student.email}"><br>

    <label for="grade"><span th:text="#{grade}"></span>:</label>
    <input type="text" id="grade" name="grade" th:value="${student.grade}"><br>

    <label for="evaluation"><span th:text="#{evaluation}"></span>:</label><br>
    <textarea id="evaluation" name="evaluation" rows="10" cols="80" th:text="${student.evaluation}"></textarea><br>
    <button type="submit"><span th:text="#{updateButton}"></span></button>
</form>
<a href="?locale=ko">ko</a><br />
<a href="?locale=en">en</a><br />
</body>
</html>