<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
Welcome, <span th:text="${loginName}" /><br />
<a href="/admin">only-admin</a>
<br>
<a href="/member">only-member</a>
<br>
<a href="/google">only-google</a>
<br>
<a href="/logout">Logout</a>
<br>

<!--
<div sec:authorize="hasRole('MEMBER')">
    member!!
</div>

<div sec:authorize="hasRole('ADMIN')">
    admin!!!
</div>

<div sec:authorize="hasRole('ADMIN') or hasRole('MEMBER')">
    member or admin
</div>-->

</body>
</html>